@media (max-width:1199.98px) {
    .header__nav{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width:991.98px) {
    .header__left{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .sale__box-card{
        flex-direction: column;
    }
    .sale__box-card:nth-child(2),
    .sale__box-card:nth-child(3){
        gap: 43px;
    }
    .footer__row{
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
    }
}

@media (max-width:767.98px){
    .header__left-list{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .sale__box-card:nth-child(2){
        grid-column: 2 / 3;
        grid-row: 1 / 2
    }
    .sale__box-card:nth-child(3){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .leaders__box{
        grid-template-columns: repeat(2, 1fr);
    }
    .news__content{
        grid-template-columns: 1fr;
    }
}
@media (max-width:575.98px){
    .sale__box{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .sale__box-card:nth-child(2){
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .sale__box-card:nth-child(3){
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .leaders__title{
        font-size: 20px;
    }
    .leaders__box{
        grid-template-columns: 1fr;
    }
    .news__title{
        font-size: 20px;
    }
}